.h2-cont {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.3em;
	padding-top: 5em;
	font-size: 0.7em;
}


.card-cont {
	display: flex;
}


.order-img {
	width: 7em;
}

.order-sum {
	display: flex;
	width: 100%;
}

.order-sum>div {
	flex-grow: 1;
}

#order-cont {
	border: 1px solid rgba(0, 0, 0, 0.128);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 4px;
	margin-bottom: 10em;
}


#order-cont p {
	padding: 1em;
}

#leverans-cont {
	border: 1px solid rgba(0, 0, 0, 0.128);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 4px;
	margin-bottom: 10em;
}

#leverans-cont p:nth-of-type(1) {
	padding-bottom: 1.5em;

}

#leverans-cont p:nth-of-type(2) {
	padding-bottom: 1.5em;

}

#leverans-cont p:nth-of-type(3) {
	padding-bottom: 1.5em;

}

#leverans-cont p:nth-of-type(4) {
	padding-bottom: 1.5em;

}

.leverans-item {
	padding: 1em 1.2em;
	padding-bottom: 0;

}

input[type="radio"] {
	margin-right: 1em;
}

#payment-cont {
	border: 1px solid rgba(0, 0, 0, 0.128);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.payment-item {
	padding: 1em 1em;
	padding-bottom: 0;
}

#leverans-cont p,
#payment-cont p {
	padding-left: 4em;
	opacity: 0.5;
	font-size: 0.8rem;
}

#payment-cont p:nth-of-type(1) {
	padding-bottom: 1em;
}

#payment-cont p:nth-of-type(2) {
	padding-bottom: 1em;
}

#payment-cont p:nth-of-type(3) {
	padding-bottom: 1em;
}


button {
	background-color: black;
	color: white;
	padding: 0.6em 6em;
	margin-top: 5em;
}

.hr1 {
	border: 0.3px dashed rgba(0, 0, 0, 0.128);
}

hr {
	border: 0.3px solid rgba(0, 0, 0, 0.128);
	width: 95%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

input[type="radio"] {
	width: 17px;
	height: 17px;
}

/* INFROMATIONS GRID */

#info-cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, 1fr);
	border: 1px solid rgba(0, 0, 0, 0.128);
	margin-bottom: 10em;
}

::placeholder {
	color: black;
}

input[type="text"] {
	width: 100%;
	padding: 1em;
}

.postnummer {
	padding: 1em;
	width: 100%;
}


#info-cont div:nth-of-type(1) {
	grid-column: 1 / span 2;

}

#info-cont div:nth-of-type(6) {
	grid-column: 1 / span 2;
}