* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amiko', sans-serif;
	font-kerning: normal;
}

body {
	height: 100vh;
}

header {
	height: 5em;
	position: fixed;
	width: 100%;
	top: 0;
}

header,
footer {
	background-color: #fefae0;
}

/* Header-2 under main Header */
header nav ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-inline-start: 0;
	background-color: #cbc8b3;
	width: 100%;
	padding: 1em;
	height: 2em;
	align-items: center;
}

.header-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: none;
}

li>a {
	font-family: 'League Spartan', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

li:hover {
	cursor: pointer;
}

/* main content (med asides) */
main {
	display: flex;
	position: relative;
	top: 7em;
	margin-bottom: 5em;
	z-index: -1;
}

/* höjd på main och aside */
.inner-module {
	min-height: calc(100vh - 11.3em);
}

/* Main content (utan asides) */
main .inner-module {
	background-color: #ffffff;
	flex: 1;
	padding-top: 3em;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
	margin-bottom: 5em;
}

/* phone-menu hamburgermeny*/
.phone-menu {
	display: inline;
	max-width: 25px;
	max-height: 25px;
	align-self: center;
	margin-left: 1em;
}

.phone-menu:hover {
	cursor: pointer;
}

/* Kundkorgen i header */
.cart {
	height: 1.5em;
	width: 1.5em;
	margin-right: 1.5em;
}

.cart:hover {
	cursor: pointer;
}

/* Företags namn & logga i header */
.logo {
	display: inline;
	width: 20em;
	height: 5em;
	align-self: center;

}

aside {
	display: none;
}

@media screen and (min-width: 768px) {
	main .inner-module {
		min-width: 750px;
	}

	nav {
		display: block;
		background-color: #e6e6e6;
		flex: 1;
	}

	aside {
		display: block;
		background-color: #e6e6e6;
		flex: 1;
	}

	.phone-menu {
		display: none;
	}

	input:checked~.meny {
		visibility: hidden;
	}



}

footer {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-inline-start: 0;
	align-items: center;
	min-height: 5em;
	position: relative;
	bottom: 0;
}

footer>ul {
	list-style: none;
	padding: 1.5em;
}

footer>ul>li {
	width: 10em;
}

.bold {
	font-family: 'League Spartan', sans-serif;
}

footer>ul>li>a>img {
	height: 2em;
}

.footer-img {
	width: 1em;
	padding: 0;
}

.medlem {
	padding-top: 0.5em;
}

.kundservice {
	padding-bottom: 0.5em;
}

/*DropdownMeny*/
input {
	display: none;
}

header>section.header-section>nav.meny>ul {
	background-color: #ffffff;
	width: 8em;
	height: 10em;
	display: flex;
	flex-direction: column;
}

header>section.header-section>nav.meny>ul>li {
	position: relative;
	top: 0.5em;
	bottom: 0.5em;

}

.meny {
	display: none;
	position: absolute;
	top: 5em;
}

input:checked~.meny {
	display: block;
	box-shadow: 5px 4px 5px rgba(000, 000, 000, 0.5);
}