/* portträtt på anställda */
.portrait{
	width: 120;
	height: 210px;
}

/* fetstilta rubriker */
.bold{
	font-family: 'league spartan', sans-serif;
	font-kerning: normal;
}

/* vänsterställd text */
.left{
	text-align: left;
}

/* huvudcontainer för griden */
.wrapper{
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
}


/* Item1 - Item6 porträtt och text om de anställda */
/* item4 för att byta plats på text och bild*/
.item4 {
	grid-row: 2;
	grid-column: 1;
}
/* marginal ner till grid med bilder och text */
.textmargin{
	margin-bottom: 3em;
}

/* tar bort punkterna listan */
section>ul {
	list-style: none;
}

/* media querys när bredden går över 768px */
@media only screen and (min-width: 768px) {
	.item3 {
			grid-row: 1;
			grid-column: 3;
		}
	.item4 {
			grid-row: 1;
			grid-column: 4;
		}
	.wrapper {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			"item1 item2 item3 item4"
			"item5 item6";
	}
}