.inner-module,
header,
footer {
	filter: blur(3px);
}

.overlay {
	position: fixed;
	left: 30em;
	top: 8em;
	z-index: 1;
	width: 20em;
	height: fit-content;
	background-color: #fff;
	box-shadow: 5px 4px 5px rgba(000, 000, 000, 0.5);
}

.flex-cont {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.flex-cont>p:nth-of-type(1) {
	position: absolute;
	top: 4em;
	align-self: end;
	font-weight: bold;
	margin-right: 1em;
}

.flex-cont>p:nth-of-type(2) {
	position: absolute;
	top: 5em;
	align-self: end;
	margin-right: 3em;
	margin-top: 0.5em;
}

.flex-cont>p:nth-of-type(3) {
	margin-bottom: 1em;
}

.fabric-item {
	width: 50%;
}

.remove-link {
	align-self: flex-end;
}

.remove {
	width: 1.5em;
}

.add-item {
	padding: 0.3em 1em;
	width: 40%;
	align-self: center;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}