*{
	box-sizing: border-box;
}

article > *{
	text-align: left;
}

article.text > .rubrik-bold{
	font-family: 'League Spartan', sans-serif;
}
/* Bilder som ändras */
  .pic-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	width: 30em;
	height: 25em;
	display: flex;
	margin-bottom:2em;
  }
  
.pic-container > img {
	position: absolute;
	width: 30em;
	height: 25em;
	opacity: 0;
	animation: display 32s infinite;
	border-radius: 0.2em;
  }
  
  img:nth-child(2) {
	animation-delay: 8s;
  }
  img:nth-child(3) {
	animation-delay: 16s;
  }
  img:nth-child(4) {
	animation-delay: 24s;
  }
  img:nth-child(5) {
	animation-delay: 32s;
  }

/*Flyter in och ut*/
	@keyframes display {
	0% {
		/* transform: translateX(200px); */
		opacity: 0;
	}
	10% {
		/* transform: translateX(0); */
		opacity: 1;
	}
	20% {
		/* transform: translateX(0); */
		opacity: 1;
	}
	30% {
		/* transform: translateX(-200px); */
		opacity: 0;
	}
	100% {
		/* transform: translateX(-200px); */
		opacity: 0;
	}
	}